/node_modules
.env
/docs
package-lock.json
README.MD
/handlers/destinationsController.js
/config/serviceAccountKey.json
recommender_model.tflite
/routes/desitnationRoute.js
/services/inferenceService.js
/services/loadModel.js
app.yaml
/handlers/modelController.js
/model/h5
/routes/destinationsRoute.js

/flask-api